* {
    font-family: 'PT Sans Narrow', sans-serif;
}
body {
    overflow: hidden;
    background: url("../backgrounds/gplaypattern.png");
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    margin: 0 0 20px;
    padding: 0;
}
p {
    margin: 0 0 20px;
    padding: 0;
}
h1 {
    font-size: 40pt;
}
h2 {

}
h3 {
    font-size: 18pt;
}

/*Modal*/
.modal-item-wrap {
    position: relative;
}
.modal-item-wrap .go-back, .modal-item-wrap .more-info {
    position: absolute;
    top: 20px;
    right: 0px;
    background: #000;
    color: #fff;
    padding: 5px 5px 5px 15px;
}
.modal-item-wrap .more-info {
    top: 54px;
    padding-left: 23px;
}
.modal-item-overlay {
    position: absolute;
    bottom: 0;
    width: 520px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    opacity: 0;
    box-shadow: 0 50px 100px 30px #000;
}
.modal-item-overlay h5 {
    margin-bottom: 10px;
    font-size: 24pt;
}
.modal-item-overlay p {
    font-size: 10pt;
    margin-bottom: 10px;
}
.modal-item-overlay p.buttons {
    text-align: center;
}
.label-backend {
    background-color: #B10F00;
}
.label-frontend {
    background-color: #DD5229;
}
.label-design {
    background-color: #34c959;
}
.label-mobile {
    background-color: #0077b3;
}
/*Modal end*/

/*Navigation*/

.top-nav, .bottom-nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.top-nav {
    top: 0;
    height: 70px;
    line-height: 70px;
}
.bottom-nav {
    bottom: 0;
    height: 50px;
    line-height: 50px;
}
.top-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.top-nav li {
    display: inline-block;
}
.top-nav a {
    color: #000;
    font-size: 18pt;
    padding: 10px;
    margin: 0 10px;
}
.bottom-nav {

}
.bottom-nav i {
    background-color: #000;
    padding: 8px 10px;
    border-radius: 15px;
    color: #fff;
    height: 30px;
    line-height: 30px;
}

.page .container {
    height: 600px;
}

/*Main Page*/

.main-page {
    background: url("../backgrounds/about-us.png");
    box-shadow: inset 0 0 180px 0px #000;
    display: none;
}
.logo {
    text-align: center;
    margin-top: 370px;
}
.hello-world-wrap {
    background: url("../images/spk.png") 173px 30px no-repeat;
    padding-left: 30px;
}
.hello-world {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 60px;
}
.hello-world span {
    font-size: 24pt;
    color: #fff;
    background: #000;
    padding: 20px 15px;
    display: inline-block;
}
.slogan {
    text-align: right;
    padding: 5px 0px;
    font-size: 20pt;
}

/*About Us*/

.about-us p, .about-us li {
    font-size: 14pt;
    line-height: 25px;
    margin: 10px 0;
}
.plate {
    font-size: 20pt !important;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 5px;
    line-height: 25px;
}
.orangered {
    background: orangered;
}
.graph {
    position: relative;
    text-align: center;
    height: 600px;
}
.round {
    background-size: 100px !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    display: inline-block;
    position: absolute;
    line-height: 100%;
    font-size: 18pt;
    /*box-shadow: inset 0 0 50px 0px #fff;*/
}
.js {
    left: 0%;
    background-color: rgba(154,205,50,0.6);
    background-image: url("../images/javascript.png");
}
.html {
    left: 19%;
    top: 60%;
    z-index: 3;
    background-color: rgba(250,235,145,0.6);
    background-image: url("../images/html_css.png");
}
.rails {
    background-image: url("../images/rails_icon.png");
    background-color: rgba(100,140,237,0.6);
    z-index: 2;
    width: 270px;
    height: 270px;
    left: 20%;
    top: 22%;
}

/*Portfolio*/

.portfolio-item {
    padding: 10px;
    text-align: center;
}
.portfolio-item-image {
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 2px solid #fff;
}
.portfolio-item-image  img {
    width: 100%;
}
.portfolio-item-image a {
    color: #fff;
}
.portfolio-item-overlay {
    display: inline-block;
    box-shadow: inset 0 0 160px 40px #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.portfolio-item-about {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.portfolio-item-about h5 {
    font-size: 22pt;
    text-align: left;
    margin-bottom: 5px;
}
.portfolio-item-about p {
    text-align: left;
    font-size: 10pt;
    margin: 0;
}

/*Team*/

.person {
    height: 190px;
    text-align: center;
    padding-top: 10px;
}
.person-title p {
    margin: 0;
    padding: 0;
}
.person-position {
    font-size: 10pt;
}
.person-name {
    font-size: 18pt;
}
.person-image {
    margin: 0 30px;
    border-bottom: 1px dashed #000;
    height: 145px;
    overflow: hidden;
}